# SonicWall TZ370
FIREWALL_WAN_IP=<your_wan_ip>
FIREWALL_ADMIN_PASSWORD=<your_firewall_password>
HOME_SUBNET=<your_home_subnet>

# Wazuh
WAZUH_ADMIN_PASSWORD=<your_wazuh_password>

# SSL-VPN
VPN_PASSWORD=<your_vpn_password>

# SSH
SSH_PASSWORD=<your_ssh_password>

# Proxmox
PROXMOX_ROOT_PASSWORD=<your_proxmox_password>
